{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}
    <h1>Register</h1>
    <form action="/register" method="post" class="auth-form">
        <input type="text" name="username" placeholder="Username" autocomplete="username">
        <input type="password" name="password" placeholder="Password" autocomplete="new-password">
        <input type="password" name="confirmation" placeholder="Confirm Password" autocomplete="new-password">
        <button type="submit">Register</button>
    </form>
    <p class="switch">Already have an account? <a href="/login">Log In</a></p>
{% endblock %}
